.app {
  background-color: #b85032;
  height: 100vh;
}

.abs-center {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
